In [36]:
import numpy as np
import pandas as pd

dp = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")
dp.head()

   Temperature °C  Mols KCL     Size nm^3
0             469       647  6.244743e+05
1             403       694  5.779610e+05
2             302       975  6.196847e+05
3             779       916  1.460449e+06
4             901        18  4.325726e+04

# Splitting the dataset

In [37]:
features = dp[["Temperature °C", "Mols KCL"]]
features

     Temperature °C  Mols KCL
0               469       647
1               403       694
2               302       975
3               779       916
4               901        18
..              ...       ...
995             894       847
996             327       982
997             791       213
998             769       553
999             919       452

[1000 rows x 2 columns]

In [38]:
label = dp[['Size nm^3']]
label

        Size nm^3
0    6.244743e+05
1    5.779610e+05
2    6.196847e+05
3    1.460449e+06
4    4.325726e+04
..            ...
995  1.545661e+06
996  6.737041e+05
997  3.477543e+05
998  8.684794e+05
999  8.476413e+05

[1000 rows x 1 columns]

# Linear Regression

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, label, test_size = 0.1)

In [40]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, y_train)
reg.predict(X_test)

array([[ 352791.60485356],
       [ 842010.98448731],
       [ 315675.93536123],
       [ 681159.76290527],
       [-284817.00667017],
       [-182812.85521371],
       [ 417825.96956625],
       [ 366261.18310053],
       [ 329527.93065547],
       [ 909793.55483848],
       [-308893.88034296],
       [1249390.56503777],
       [ 445297.54534695],
       [-156194.38250396],
       [ 249376.62753819],
       [ 753555.71376526],
       [ 813472.46946237],
       [ 210353.63795702],
       [ 328264.36070876],
       [1360009.89668919],
       [ 137804.07007165],
       [ 801454.8528827 ],
       [ 131684.72890928],
       [ 531056.22684302],
       [ 205005.85575591],
       [ -99308.99520702],
       [ 198284.40496485],
       [ 633997.26710236],
       [ 643278.89556486],
       [ 763076.11814871],
       [1102535.84833487],
       [1022835.7841482 ],
       [ 568992.32538181],
       [ 315501.49807914],
       [ 811282.85507044],
       [1325881.20875629],
       [1019616.89248604],
       [ 595650.70168781],
       [ -43410.37620827],
       [1434983.73539651],
       [ 403466.99943797],
       [ 116440.99109568],
       [ 555532.21832886],
       [ 373173.40818593],
       [ 229760.0220539 ],
       [ 192538.37340927],
       [1151637.83354604],
       [ 680098.68006915],
       [1002587.64604308],
       [ 336006.99073969],
       [1167937.66624623],
       [ 992396.3101476 ],
       [ 758937.03844946],
       [ -12912.41997694],
       [1180659.75682101],
       [1415590.94198458],
       [ 335816.7211504 ],
       [ 513341.95349803],
       [1107347.2327098 ],
       [ 533951.6883937 ],
       [ 132814.63362874],
       [-301844.87994948],
       [ 734644.08698113],
       [-372886.24555907],
       [ 994495.27298937],
       [ 285551.2887367 ],
       [  98505.65200562],
       [ 280845.01505548],
       [ 660060.76335144],
       [ 582781.35520083],
       [ 487885.55482717],
       [ 524574.4204315 ],
       [ 473518.48666853],
       [ 769821.13552379],
       [ 342550.38946277],
       [ 542355.27403759],
       [ 476785.3799573 ],
       [ 692316.54213717],
       [ 623999.81558205],
       [ 689406.62144295],
       [ 382589.57033427],
       [ 200323.14865869],
       [ 590416.63291582],
       [ 368627.4763968 ],
       [  96882.36313707],
       [ 830498.96957804],
       [1054281.97824512],
       [  87590.75877551],
       [-119580.69989615],
       [ 102105.58755141],
       [ 995347.00289667],
       [-323862.18967171],
       [   5932.62654609],
       [ 672908.78487665],
       [1077084.43761354],
       [ 854624.3495825 ],
       [-244582.56825986],
       [1048015.38117055],
       [1062516.6192615 ],
       [-292736.31560544]])

In [41]:
score=reg.score(X_test, y_test)
print("The accruacy is ",score)

The accruacy is  0.8624314280456504

In [42]:
reg.coef_

array([[ 870.30854178, 1029.78197528]])

In [43]:
intercept=reg.intercept_
print("The intercept is", intercept)

The intercept is [-414382.88075245]

In [44]:
print("The equation is Size nm^3= ",intercept," +","88.78688354*Temperature °C + ","1023.24228137*Mols KCL")

The equation is Size nm^3=  [-414382.88075245]  + 88.78688354*Temperature °C +  1023.24228137*Mols KCL

# Cross Validation

In [45]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(reg, X_train, y_train, cv = 50)
print(f'{scores.mean()} accuracy with a standard deviation of {scores.std()}')

0.8002223638921684 accuracy with a standard deviation of 0.1860164659480802

It shows that the accuracy is improved to 83.97% by cross valiation compared with linear regression.

# Polynomial Regression

In [46]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
polyReg = PolynomialFeatures(2)
X_train = polyReg.fit_transform(X_train)
X_test = polyReg.fit_transform(X_test)
model = linear_model.LinearRegression()
model.fit(X_train, y_train)
print(f'Score: {model.score(X_train, y_train)}')
print("coefficent:",model.coef_)

Score: 1.0
coefficent: [[ 0.00000000e+00  1.20000000e+01 -9.21839733e-08 -1.90230054e-11
   2.00000000e+00  2.85714287e-02]]

In [47]:
print(f'intercept: {model.intercept_}')
print(f'Predict: {model.predict(X_test)}')

intercept: [1.07537489e-05]
Predict: [[6.09377143e+04]
 [8.69366857e+05]
 [3.05595400e+05]
 [6.21303429e+05]
 [6.18911429e+03]
 [2.46084286e+04]
 [3.62578714e+05]
 [2.13269829e+05]
 [3.17104114e+05]
 [9.97619314e+05]
 [4.29082858e+03]
 [1.57454111e+06]
 [3.89294314e+05]
 [2.16700286e+04]
 [2.00866257e+05]
 [5.49207314e+05]
 [8.59049114e+05]
 [1.12557114e+05]
 [2.40745257e+05]
 [1.77320331e+06]
 [8.91980286e+04]
 [6.95233029e+05]
 [1.01626314e+05]
 [5.07560114e+05]
 [2.20722829e+05]
 [4.68321143e+04]
 [2.07198857e+05]
 [6.00674857e+05]
 [6.03438857e+05]
 [7.78384314e+05]
 [1.26995511e+06]
 [9.98594029e+05]
 [4.30492314e+05]
 [2.41161257e+05]
 [6.10293600e+05]
 [1.70761660e+06]
 [1.15344643e+06]
 [5.55545000e+05]
 [4.21308286e+04]
 [1.92627283e+06]
 [3.78131314e+05]
 [8.54450286e+04]
 [4.17030029e+05]
 [1.97787143e+04]
 [1.17762314e+05]
 [1.93753029e+05]
 [1.38011383e+06]
 [3.37170857e+05]
 [1.12075783e+06]
 [3.19512429e+05]
 [1.41796260e+06]
 [1.08112411e+06]
 [5.58759857e+05]
 [9.32680286e+04]
 [1.43518183e+06]
 [1.88480103e+06]
 [2.92210029e+05]
 [1.89236829e+05]
 [1.24219443e+06]
 [2.70368000e+05]
 [8.74551143e+04]
 [4.78631429e+03]
 [7.43933829e+05]
 [8.41457151e+02]
 [1.11379646e+06]
 [2.31584257e+05]
 [1.33531429e+05]
 [2.71050400e+05]
 [6.24474257e+05]
 [5.39021457e+05]
 [3.75531400e+05]
 [3.09613114e+05]
 [5.76091143e+04]
 [7.73750257e+05]
 [3.28049029e+05]
 [4.80946400e+05]
 [3.11881257e+05]
 [6.46518314e+05]
 [5.60757457e+05]
 [6.76430029e+05]
 [3.54956457e+05]
 [1.14416314e+05]
 [3.55520829e+05]
 [3.47416457e+05]
 [1.39407457e+05]
 [8.08565257e+05]
 [1.20599246e+06]
 [7.38660286e+04]
 [6.68045716e+03]
 [1.18924114e+05]
 [1.09042026e+06]
 [3.22402858e+03]
 [5.31800286e+04]
 [4.16308457e+05]
 [1.24615340e+06]
 [8.03208600e+05]
 [9.97425714e+03]
 [1.03529243e+06]
 [1.23976740e+06]
 [5.41882857e+03]]

Since we got a score of 1.0, it shows that the model prediction is roughly 100% correct which is improves a lot.
The equation is  Y=c0 + c1*x + c2*x^2 ⋯ cn*x^n
which means we need to plug in our coefficent values.